<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta
      name="description"
      content="Admin dashboard for managing website content"
    />

    <title>Content Manager</title>

    <script>
      import options from "virtual:astro-decap-plugin/user-config";
      import initCMS from "./dist/cms";
      initCMS(options);
    </script>
    <style is:global>
      /* Workaround for https://github.com/netlify/netlify-cms/issues/5092 */
      [data-slate-editor] {
        -webkit-user-modify: read-write !important;
      }
    </style>
  </head>
  <body></body>
</html>
